/* styles para pagina de inicio, tambien comparte estilos con las otras paginas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

body {
    height: 100vh;
}

.fondo {
    position: absolute;
    z-index: -100;
    background: radial-gradient(
                                circle at bottom,
                                rgba(255,255,255,1) 0%,
                                rgba(113,139,195,1) 33%,
                                rgba(52,100,210,1) 86%,
                                rgb(44 78 149) 100%);
    width: 100vw;
    height: 100vh;
}

.img-fondo {
    position: absolute;
    z-index: -50;
    height: 100vh;
    width: 100vw;
    filter: blur(4px);
}

/* CSS para Header */

header {
    display: flex;
    margin-bottom: 3vh;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 8%;
    opacity: 60%;
    margin: 10px;
}

.titulo {
    padding: 30px;
    margin: auto;
}


/* CSS para Main */

.inicio {
    width: 40vw;
    background: rgba(226, 135, 135, 0.5);
    padding: 20px;
    border-radius: 40px;
    margin: 0 auto;
    height: 70vh;
    text-align: center;
}

.sub-titulo {
    font-size: 2.5em;
    font-style: italic;
}


.boton-jugar, .boton-palabra {
    padding: 3% 6%;
    background-color: #D9D9D9;
    color: #A42727;
    display: block;
    border-radius: 30px;
    margin: 10vh auto;
    text-align: center;
    font-size: 1.3em;
    transition: all 0.3s;
}


.boton-jugar {
    width: 25vw;
}

.boton-palabra {
    width: 20vw;
}

.boton-jugar:hover{
    background: #cdb9b9;
    width: 26vw;
}

.boton-palabra:hover {
    background: #cdb9b9;
    width: 21vw;
}

.pantalla-palabra {
    display: none;
}

.pantalla-juego {
    display: none;
}

footer {
    padding: 5px;
    position: absolute;
    bottom: 0;

}
footer a {
    font-weight: bold;
    color: #000;
}

i {
    margin-left: 10px;
}