/* styles para juego */

.pantalla-juego {
    display: none;
    animation-name: juego;
    animation-duration: 0.5s;
    text-align: center;
}

@keyframes juego {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 100%;
    }
}

.boton-volver {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 0%;
    background-color: #D9D9D9;
    color: #A42727;
    border-radius: 30px;
    margin: 3vh 1vw;
    text-align: center;
    font-size: 1.3em;
    transition: all 0.3s;
    width: 11vw;
}

.boton-volver:hover {
    background: #cdb9b9;
}

.munieco {
    background: rgb(115 97 97 / 50%);
    width: 30vw;
    height: 40vh;
    margin: 0px 3vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pizarra {
    width: 450px; 
    height: 270px;
}

.palabra-juego {
    width: 30vw;
    height: 50px;
    justify-content: center;
    border-left: 0.5px solid black;
    text-align: center;
    margin: 0 auto;
    display: inline-flex;
}

.palabra-magica {
    border-bottom: 3px solid #000;
    font-size: 2.5em;
    margin: 0px 15px;
    opacity: 0;
}

.separador {
    height: 5px;
    margin: 10px 0;
    width: 100vw;
}

.teclado {
    width: 45vw;
    height: 20vh;
    padding: 6px;
    border-radius: 20px;
    background: rgb(169 97 97 / 50%);
    margin: 20px auto;
}

.linea {
    margin: 0 auto;
    display: table;
}

.letras {
    width: 45px;
    height: 25px;
    margin: 8px 10px;
    background: #cdb9b9;
    border-radius: 5px;
    transition: all 0.5s;
}

.letras:hover {
    background: #ffe5e5;
}

.letras-falladas {
    height: 10vh;
    margin: 0 10px;
    padding: 5px;
}

.letras-perdidas {
    width: 55%;
    height: 60%;
    font-size: 1.2em;
    text-decoration: line-through;
    font-weight: bold;
    margin: 5px auto;
    padding: 6px;
    border-radius: 20px;
    background: rgb(169 97 97 / 50%);
}