/* styles para juego */

.pantalla-juego {
    display: none;
    animation-name: juego;
    animation-duration: 0.3s;
    text-align: center;
}

@keyframes juego {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 100%;
    }
}

.boton-volver {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 0%;
    background-color: #D9D9D9;
    color: #A42727;
    border-radius: 30px;
    margin: 3vh 1vw;
    text-align: center;
    font-size: 1.3em;
    transition: all 0.3s;
    width: 11vw;
}

.boton-volver:hover {
    background: #cdb9b9;
}

.canvasContenedor {
    display: inline-block;
    margin-right: 30px;
    padding: 5px;
}

.pizarra {
    width: 31vw;
    height: 31vh;
}

.palabra-juego {
    text-align: center;
    margin: 0px 0 0px 20px;
}

.letra-oculta {
    font-size: 2em;
    display: inline-block;
    margin: 0px 12px;
}

.teclado {
    width: 45vw;
    height: 22vh;
    padding: 6px;
    border-radius: 15px;
    background: rgb(169 97 97 / 50%);
    margin: 10px auto;
}

.linea {
    margin: 0 auto;
    display: table;
}

.presionado {
    background: #ffe5e5;
    opacity: .5;
}

.letras {
    width: 35px;
    height: 25px;
    margin: 6px 10px;
    background: #ffe5e5;
    border-radius: 5px;
    transition: all 0.5s;
}

.letras:hover {
    background: #cdb9b9;
}

.letras-falladas {
    height: 10vh;
    margin: 0 10px;
    padding: 5px;
}

.letras-perdidas {
    width: 42%;
    height: 60%;
    font-size: 1.2em;
    margin: 5px auto;
    padding: 6px;
    border-radius: 10px;
    background: rgb(169 97 97 / 50%);
}

.cartelito {
    display: none;
    background: rgb(169 97 97 / 80%);
    padding: 10px;
    width: 40vw;
    height: 25vh;
    z-index: 100;
    animation-name: final;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation-duration: 0.3s;
}

.boton-reset {
    background-color: #D9D9D9;
    color: #A42727;
    border-radius: 30px;
    font-size: 0.75em;
    display: block;
    margin: 2vh auto;
    padding: 5px;
    text-align: center;
    width: 90px;
    height: 20%;
}

@keyframes final {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 100%;
    }
}

.text-final {
    font-size: .85em;
}

@media screen and (min-width: 200px) and (max-width: 350px) {
    .teclado {
        width: 95vw;
        height: 16vh
    }
    .text-final {
        font-size: .5em;
    }
    .logo {
        width: 14vw;
        height: 5vh;
    }
    .titulo {
        padding: 21px;
        font-size: 1.5em;
    }
    header {
        text-align: center;
    }
    .letras {
        width: 15px;
        height: 15px;
        margin: 5px 2px;
    }
    .letras-perdidas {
        width: 80%;
        height: 60%;
        font-size: 1em;
    }
    .palabra-magica {
        font-size: 0.6em;
    }
    .boton-volver {
        font-size: 0.6em;
    }
    footer {
        font-size: 0.7em;
    }   
    .pizarra {
        width: 80vw;
        height: 20vh;
    }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
    .teclado {
        width: 90vw;
        height: 18vh;
    }
    .letras {
        width: 20px;
        height: 20px;
        margin: 5px 5px;
    }
    .letras-perdidas {
        width: 80%;
        height: 60%;
        font-size: 1em;
    }
    .palabra-magica {
        font-size: 1.5em;
    }
    .boton-volver {
        font-size: 0.6em;
    }
    footer {
        font-size: 0.7em;
    }   
    .pizarra {
        width: 80vw;
        height: 20vh;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .teclado {
        width: 90vw;
        height: 18vh;
    }
    .logo {
        width: 12vw;
    }
    .palabra-magica {
        font-size: 1.5em;
    }
    header {
        margin-bottom: 30px;
    }
    .letras {
        width: 25px;
        margin: 5px 4px;
        height: 18px;
    }
    .boton-volver {
        top: 84%;
        left: 35%;
        width: 25vw;
    }
    .letras-perdidas {
        width: 90%;
    }
    footer {
        font-size: 0.7em;
    }
    .pizarra {
        width: 50vw;
        height: 20vh;
    }
}

@media screen and (min-width: 700px) and (max-width: 850px){
    .letras {
        width: 50px;
        height: 25px;
        margin: 8px 6px;;
    }
    .teclado {
        width: 91vw;
        height: 24vh;
        margin: 20px auto;
    }
    .letras-perdidas {
        width: 75%;
        font-size: 1.2em;
    }   
    .logo {
        width: 12vw;
        height: 6vh;
    }
    .pizarra {
        width: 50vw;
        height: 20vh;
    }
}

@media screen and (min-width: 850px) and (max-width: 950px) {
    .logo {
        width: 12vw;
        height: 6vh;
    } 
    .teclado {
        width: 70vw;
        height: 24vh;
        margin: 5px auto;
    }
    .letras {
        width: 35px;
        height: 25px;
        margin: 8px 10px;
    }
    .letras-perdidas {
        width: 65%;
        font-size: 1.5em;
    }  
}

@media screen and (min-width: 950px) and (max-width: 1300px) {
    header {
        margin: 0;
    }
    .teclado {
        width: 70vw;
        height: 24vh;
        margin: 5px auto;
    }
}